@font-face {
  font-family: 'Source Sans Pro';
  src: url('./Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./Source_Sans_Pro/SourceSansPro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./Source_Sans_Pro/SourceSansPro-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Anton';
  src: url('./Anton//Anton-Regular.ttf');
  font-weight: 400;
}
